.navbar-font{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.chaanto{
    font-family: 'Raleway', sans-serif;
    font-size:  3rem;
    font-weight: 400;
    text-align : center;
    color: grey;
}
